*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:aliceblue;
}
.logo{
    font-weight: bold;
    cursor: pointer;
}
nav{
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding:15px 30px;
    position: sticky;
    top:0%;
    z-index:2;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    list-style: none;
    

}
ul a{
    text-decoration: none;
}
ul .active{
    border-bottom: 4px solid crimson;
}
nav ul li{
    transition: 0.30s ease-in-out;
}
nav ul li:hover{
    border-bottom: 4px solid crimson;
}



.containte{
    background-image: url("./assets/img/Bg_banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-position: center;

}
.containte h1{
    font-size: 32px;
    color: #424144;
    margin-bottom: 12px;
}
.containte p{
    color: #424144;
    font-size: 15px;
    margin-bottom: 18px;
}
.btn0{
    text-decoration: none;
    background-color: crimson;
    font-size: 10px;
    padding: 12px;
    border-radius: 4px;
    transition: 0.25s ease;

}.btn0:hover{
    background-color: white;
    color: crimson;
    border: 2px solid crimson;
    font-size: 9px;
    padding: 11px;
    border-radius: 4px;
    outline: none;
}

.produits_text{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    color: crimson;
    margin: 20px 0 20px 30px;
}
.section_produits{
    display: flex;
    flex-wrap: wrap;}
    

.card{
    width: 310px;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-bottom: 20px;
}
.card .img img{
    height: 260px;
    width:100%
}

.card .info{
    padding: 5px 20px;
    opacity: 0.8;
    color:red;
    display: flex;
    flex-direction: column;
}
.card .achat{
    margin: 6px auto;
    padding: 5px 20px;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;


}
.card .achat button{
    padding: 10px 10px;
    opacity: 1;
    color: crimson;
    font-weight: bold;
    border-radius: 4px;
    background-color: transparent;
    transition: 0.23s ease-in;
    cursor:pointer;

}
.card .achat button:hover{
    color: #fff;
    background-color: crimson;
    

}

.card .achat .prix{
    padding: 10px 10px;
    opacity: 1;
    color: crimson;
    font-weight: bold;

}

.card .info .titre{
    font-weight: bold;
    color: #000
   
}
.card .info .desc{
    color: #000;
    opacity:0.7;
    margin-bottom: 3px;   
}
.produit{
    display:flex;
    flex-wrap: wrap;
    gap: 9;
    justify-content: space-evenly;
}

footer{
    background:#000;
    height: 10vh;
    text-align: center;
    padding: 20px 0;
}
footer p a{
    color: crimson;
    font-weight: bold;
    text-decoration: none;
}
.contenaire{
    margin: 0 auto;
    padding: 5px auto;
    display: flex;
    justify-content: space-evenly;
}